html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(236, 236, 236);
}

img {
  max-width: 100%;
  display: block;
}
input {
  font: inherit;
}

/*-------*/

.rd {
  border-radius: 0.4rem;
}

/*-------*/

.container {
  width: 100%;
  height: 100vh;
}

.logo {
  width: 15rem;
  height: auto;
}

.head {
  background-color: yellow;
  padding-block: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ellogo {
  margin-left: -5rem;
}

.labusqueda {
  margin-left: -10rem;
}

/*-------*/

.boton {
  background-color: #fff;
  padding: 0.88rem 4.5rem;
  cursor: pointer;
}

.busqueda {
  margin-right: 1rem;
  background-color: #fff;
  padding: 0.9rem 29rem 0.9rem 1rem;
  border: 0.1rem solid;
}
/*-------*/

.txt-result {
  color: black;
  margin-top: 2rem;
  position: relative;
  margin-left: 35rem;
}

/* .resul {
  margin-left: -50rem;
  margin-top: -7rem;
} */

.pictures {
  width: 19rem;
  height: 18rem;
  object-fit: contain;
}

.tarjetas {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.tarjetas p {
  color: black;
}

.card {
  width: 70%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  margin-top: -3rem;
  padding: 0.6rem 2rem;
  border: 0.12rem solid black;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
  background-color: white;
  animation: escalar 2s infinite alternate;
  transform: scale(1);
}

.card:hover {
  transform: scale(1.05);
}

/* @keyframes escalar{
  to {
    transform: scale(1);
  }
    from {
  transform: scale(1.05);
  }
} */

.txt-arriba {
  line-height: 2.4rem;
}

.txt-arriba h2 {
  font-size: 2rem;
}

.txt-arriba h3 {
  color: red;
}

.texto-centro {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 3rem;
  margin-right: 4rem;
  margin-left: 3rem;
  position: relative;
}

.caja-precio {
  padding-top: 0.9rem;
}

.precio {
  color: rgb(2, 141, 165);
  vertical-align: top;
  margin-top: -0.1rem;
}

.sold {
  position: absolute;
  bottom: 0;
}

/*-------*/
